
html{
    position: relative;
    margin: 0 auto;
    font-family:'Conv_MuseoSans';
    text-align:center;
    width:100%;
    height:100%;
}

body{
    position: relative;
    margin: 0 auto;
    font-family:'Conv_MuseoSans';
    text-align:center;
    width:100%;
    height:100%;
}
.ui-content
{
    position: relative;
    margin: 0 auto;
    font-family:'Conv_MuseoSans';
    margin-left: auto ;
    margin-right: auto ;
    width:100%;
    height:100%;
}
#grid
{ 
  background-image: url(../images/minion.jpg);
   -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);

 }
 .clearimage
 {
   margin: 0;
  background-image: url(../images/minion.jpg);
  background-size:100% 100%;
  }
.ui-grid-b
{
background-color: lightgray;
max-width:800px;
max-height:600px;
background-size:100% 100%;
width:auto;
height:auto;
bottom: auto;
height:auto;
margin-left: auto;
margin-right: auto;
}

.ui-grid-b .ui-btn
{
margin-right:0px;
margin-left:0px;
}
.ui-btn
{
  margin:0;  
}
.ui-block-a,
.ui-block-b,
.ui-block-c
{
height: auto;
}
.ui-btnsolid
{
background-color: lightgray;
height: 200px;
font-weight: bold;
opacity:1;
}

.ui-btntranspo
{
background-color: lightgray;
height: 200px;
font-weight: bold;
opacity:0;

}

#answer{
    padding-bottom:10px;
    padding-top:10px; 
    background:#a0cf89;
    width:100%;
}


#answer{
    padding-bottom:10px;
    padding-top:10px; 
    background:#a0cf89;
    width:100%;
}

#outputCeleb input{
	margin: 1px;
	margin-top: 5px;
	font-family:'Conv_MuseoSans';
	font-size: 30pt;
	text-align: center;
	width:40px;
	color:#333;
	border-color: #fff;
	border-style:none;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-appearance:none;
}

/*#outputCeleb input{

	font-size: 18pt;
	text-align: center;
	width:30px;
	padding: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	}*/


input[type="text"]{
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}