.ui-block-a,
.ui-block-b,
.ui-block-c
{
  background-color: white;
   height : 30px;
   text-align : center;
   padding-top : 5px;
}
.ui-gridbtn
{
background-color: white;
height: 100px;
font-weight: bold;
text-align: center;
padding-top : 5px;
}