.ui-block-a, 
.ui-block-b, 
.ui-block-c 
{
background-color: lightgray;
height: 100px;
font-weight: bold;
text-align: center;
}

.ui-gridbtn
{
background-color: lightgray;
height: 100px;
font-weight: bold;
text-align: center;

}